html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Libre Franklin";
}

h2 {
    font-size: 32px;
    margin: 5% 0 5% 0;
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
}

nav {
    height: 30px;
    display: inline;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 15px;
    overflow: hidden;
    background-color: black;
}
nav li {
    float: left;
}

nav li a {
    display: block;
    padding: 5px 20px 5px 20px;
    text-decoration: none;
    text-align: center;
    color: white;
    font-weight: 900;
    transition: color 0.5s;
}

nav li a:hover {
    color: darkblue;
}

.navbrand {
    padding-right: 50px;
}

/* Highlight area*/
.highlighted {
    height: 90vh;
    padding: 2% 12.5% 5% 12.5%;
    margin-bottom: 5%;
    background-color: #100f19;
    border-radius: 0px 00px 10px 10px;
}

.box1 {
    width: 20%;
    max-height: 80%;
    float: left;
}

.imgtext {
    font-family: "Libre Franklin";
    color: white;
    padding: 20px;
    float: right;
    text-align:right;
    border-right: 1px solid white;
    margin-right: 20px;
    font-weight: 100;
}

.box2 {
    width: 80%;
    height: 80%;
    float: left;
    border-radius: 10px;
    box-shadow: 5px 5px 8px black;
    background-image: url("images/London/2.jpg");
    background-size: 120%;
    background-position: center;
    transition: background-size 1s;
    
}

.box2:hover {
    background-size: 140%;
}

@media only screen and (max-width: 1100px) {
    .box2 {
     width: 80%;
    height: 80%;
    float: left;
    border-radius: 10px;
    box-shadow: 5px 5px 8px black;
    background-image: url("images/Leuke foto's/DSC_0155.jpg");
    background-size: 170%;
    background-position: center;
    transition: background-size 1s;
    }

    .box2:hover {
        background-size: 250%;
    }
}

.headlinetext {
    font-family: "Unna";
    font-weight: black;
    color: white;
    margin: 0% auto auto -12%;
    float: left;
    font-size: 7vw;
}/* END highlight area */

.arrowup {
    position: sticky;
    top: 90vh;
    background-color: black;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    margin: -10% 5% 5% auto;
    border: 1px solid white;
    transition: background-color 0.5s, border 0.5s;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 100;
  color: white;
  padding: 25%;
  border-radius: 50px;
  transition: color 0.5s;
}

.arrowup:hover  {
    background-color: white;
    border: 1px solid black;
}

.material-symbols-outlined:hover {
    color: black;
}
/*START showcase area */
.showcase {
    display: grid;
    padding: auto;
    height: 100vh;
    padding: 5% 12.5% 5% 12.5%;
}

.showcasetitle {
    grid-row: 1;
    grid-column: 1 / 3;
}

.showcaseboxL1 {
    grid-column: 1;
    grid-row: 2;
    float: left;
    width: 100%;
    height: 100%;
    transition: width 1s, height 1s;
    overflow: hidden;
}

.showcaseboxR1 {
    grid-column: 2;
    grid-row: 2;
    float: left;
    margin: 50px 0px 0px 0px;
    width: 100%;
    height: 100%;
    transition: width 1s, height 1s;
    overflow: hidden;
}

.showcaseboxL2 {
    grid-column: 1;
    grid-row: 3;
    float: left;
    width: 100%;
    height: 100%;
    transition: width 1s, height 1s;
    overflow: hidden;
}

.showcaseboxR2 {
    grid-column: 2;
    grid-row: 3;
    float: left;
    padding: 100px 0px 0px 0px;
    width: 100%;
    height: 100%;
    transition: width 1s, height 1s;
    overflow: hidden;
}


.showcasetextbox {
    font-size: 1.5vw;
    font-family: "Libre Franklin";
    font-weight: 100;
    text-align: right;
    padding: 5% 10px 5% 0;
    margin-right: 10px;
    border-right: 1px solid black;
    width: 30%;
    float: left;
}

.showcaseimgbox {
    max-width: 60%;
    max-height: 100%;
    float: left;
    border-radius: 10px;
    box-shadow: 5px 5px 8px black;
    object-fit: cover;
}/*END showcase area*/

.showcaseboxL1:hover, .showcaseboxL2:hover, .showcaseboxR1:hover, .showcaseboxR2:hover {
    width: 110%;
    height: 110%;
}
/*START aboutme area*/
.aboutme {
    margin: 5% 0 5% 0;
    padding: 2%;
    height: 54vh;
    background-image: url("images/aboutme.jpg");
    background-position: bottom 20% left 10%;
    background-size: cover;
    border-radius: 10px;
}

.abttextbox {
    margin-left: 8%;
    padding: 0px 30px 0px 30px;
    width: 30%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    color: white;
    border-radius: 10px;
}

.abttextbox p {
    font-size: 1.5vw;
    font-weight: 200;
}

.abttextbox h1 {
    margin-top: 0;
    padding: 20px 0px 0px 0px;
    font-size: 48px;
}/*END aboutme area*/

/*START placeslist area */
.placeslistbox {
    margin: 5% 12.5% 5% 12.5%;
    height: 70vh;
}

.placeslistbox h2 {
    text-align: center;
}

.itemlistbox {
    width: 33%;
    height: 90%;
    float: left;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.itemlistbox li {
    text-align: center;
    font-weight: 200;
    font-size: 24px;
    width: 100%;
    height: 10vh;
}

.itemlistbox a {
    transition: color 0.3s;
}

.itemlistbox a:hover {
    color: darkblue;
}

/*footer */
footer {
    margin-top: 5%;
    color: white;
    background-color: black;
    height: 320px;
    padding: 0% 12.5% 0% 12.5%;
}

footer h1 {
    text-align: center;
    margin: 0;
    height: 50px;
    padding: 50px 0px 20px 0px;
    color: white;
}

footer p {
    text-align: center;
    color: white;
    height: 20px;
}

.footerbox {
    margin: 0;
    padding: 0px 0px 0px 0px;
    height: 160px;
    width: 50%;
    text-decoration: none;
    list-style-type: none;
    display: block;
    float: left;
}

.footerbox h5 {
    text-align: right;
    padding-right: 5px;
    margin: 6px;
    color: white;
    transition: color 0.3s;
}

.footerbox h5:hover {
    color: darkblue;
}

.footerbox p {
    text-align: left;
    padding-left: 5px;
    font-weight: 100;
}