html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Libre Franklin";
    width: auto;
    background-color: #FAF9F6;
}

h2 {
    font-size: 32px;
    margin: 5% 0 5% 0;
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
}

/*navbar*/
@media only screen and (min-width: 0px) and (max-width: 1030px) {
    .navbar {
        width: 100%;
        height: 50px;
        margin-top: 10px;
        border-bottom: 1px solid black;
    }

    .navbrand {
        width: 85%;
        display:inline-block;
        height: 20px;
        margin: 0;
        font-size: 10px;
    }

    .navbrand h1 {
        padding-left: 5%;
    }

    .overlay {
        height: 0;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.8);
        overflow-x: hidden;
        transition: 0.5s;
    }

    .overlaymenu {
        position: relative;
        top: 10%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
      }

      .overlay a {
        padding: 20px;
        text-decoration: none;
        font-size: 36px;
        color: white;
        display: block;
        transition: 0.3s;
      }
      
      .overlay a:hover, .overlay a:focus {
        color: navy;
      }
      
      .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
      }
}

@media only screen and (min-width: 1030px) {
    .navbar {
        width: 100%;
        height: 60px;
        margin-top: 10px;
        border-bottom: 1px solid black;
    }

    .navbrand {
        width: 60%;
        display:inline-block;
        margin: 0;
        font-size: 10px;
    }

    .navbrand h1 {
        padding-left: 5%;
        transition: color 0.3s;
    }

    .navbrand h1:hover {
        color: navy;
    }

    .overlay {
        padding-right: 50px;
        padding-top: 15px;
        height: 100%;
        display: inline-block;
        float:right;
    }

    .overlay a:hover, .overlay a:focus {
        color: navy;
      }

    .overlaycontent {
        text-align: center;
        padding: 20px;
        font-weight: bold;
    }
    .closebtn {
        position: absolute;
        top: -50px;
        height: 0;
        width: 0;
    }

    .hamburger {
        position: absolute;
        top: -50px;
        width: 0;
        height: 0;
    }

}

/* Highlight area*/
@media only screen and (min-width: 0px) {
    .highlighted {
        display: grid;
        max-height: 65vh;
        padding: 10vw 3vw 0 3vw;
        margin-bottom: 100px;
    }

    .box1 {
        grid-row: 2;
        width: 90%;
        height: auto;
        padding-top: 10px;
        margin-top: 10px;
        border-top: 1px solid black;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-weight: 100;
    }

    .imgtext {
        color: gray;
        display: inline;
        margin: 0;
        border-left: 1px solid gray;
        padding: 0 5px 0 5px;
    }

    .box2 {
        grid-row: 1;
        width: 100%;
        max-height: 300px;
        float: left;
    }

    .box2 img {
        max-height: 300px;
        width: 100%;
        border-radius: 10px;
        overflow: hidden;
    }
}
@media only screen and (min-width: 767px) {
    .highlighted {
        display: grid;
        max-height: 65vh;
        padding: 10vw 3vw 0 3vw;
        margin-bottom: 300px;
    }

    .box1 {
        grid-row: 2;
        width: 80%;
        height: auto;
        padding-top: 10px;
        padding-left: 40px;
        border-top: 1px solid black;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        font-weight: 100;
        margin-top: 10px;
    }

    .imgtext {
        color: gray;
        display: inline;
        margin: 0;
        border-left: 1px solid gray;
        padding: 0  5px 0 5px;
    }

    .box2 {
        grid-row: 1;
        width: 100%;
        max-height: 700px;
        float: left;
        overflow: hidden;
    }

    .box2 img {
        max-height: 700px;
        width: 100%;
        border-radius: 10px;
        overflow: hidden;
    }

    .box2:hover {
        background-size: 250%;
    }
}
@media only screen and (min-width: 1030px) {
    .highlighted {
        display: grid;
        width: 90%;
        max-height: 65vh;
        padding: 2vw 3vw 0 3vw;
        margin: 0 auto 700px auto;
    }

    .box1 {
        grid-row: 1;
        grid-column: 2;
        width: auto;
        height: 70px;
        padding-top: 10%;
        padding-left: 0;
        border-left: 3px solid black;
        border-top: 0;
        margin: auto 0 auto 10%;
        text-align: left;
        font-weight: 100;
    }

    .imgtext {
        color: gray;
        display: block;
        margin: 0;
        padding: 0 5px 0 5px;
        border-bottom: 0;
        font-size: 14px;
        border-left: 0;
    }

    .box2 {
        grid-row: 1;
        width: auto;
        max-height: 900px;
        float: left;
        overflow: hidden;
    }

    .box2 img {
        max-height: 900px;
        width: 100%;
        border-radius: 10px;
        overflow: hidden;
    }

    .box2:hover {
        background-size: 250%;
    }
}



.headlinetext {
    font-family: "Unna";
    color: black;
    margin: auto;
    float: left;
    font-size: 5vw;
}/* END highlight area */

.arrowup {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -o-sticky;
    position: -ms-sticky;
    position: sticky;
    overflow: hidden;
    top: 90vh;
    background-color: black;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    margin: -10% 5% 5% auto;
    border: 1px solid white;
    transition: background-color 0.5s, border 0.5s;
}

.material-symbols-outlined {
    overflow: hidden;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 100;
  color: white;
  padding: 25%;
  border-radius: 50px;
  transition: color 0.5s;
}

.arrowup:hover  {
    background-color: white;
    border: 1px solid black;
}

.material-symbols-outlined:hover {
    color: black;
}
/*START showcase area */

@media only screen and (min-width: 0px) {
    .showcase {
        margin: auto;
        display: grid;
        height: 180vh;
        overflow: hidden;
        padding: 3vw;
        margin-bottom: 10vh;
    }

    .showcasebox1 {
        margin-left: auto;
        margin-right: auto;
        grid-row: 1;
    }
    .showcasebox2 {
        margin-left: auto;
        margin-right: auto;
        grid-row: 2;
    }
    .showcasebox3 {
        grid-row: 3;
        margin-left: auto;
        margin-right: auto;

    }
    .showcasebox4 {
        grid-row: 4;
        margin-left: auto;
        margin-right: auto;
    }

    .showcasetextbox p {
        border-top: 1px solid black;
        width: 80%;
        padding-top: 1vh;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-weight: 100;
        font-size: 5vw;
    }

    .showcaseimgbox {
        display: block;
        width: auto;
        max-height: 300px;
        overflow: hidden;
        margin: 0;
        border-radius: 10px;
    }

    .showcaseimgbox img {
        width: 100%;
        max-height: 300px;
    }
}
@media only screen and (max-height: 750px) {
    .showcase {
        height: 230vh;
    }
}
@media only screen and (min-width: 767px) {
    .showcase {
        display: grid;
        height: 250vh;
        overflow: hidden;
    }

    .showcasebox1 {
        margin-left: auto;
        margin-right: auto;
        grid-row: 1;
    }
    .showcasebox2 {
        margin-left: auto;
        margin-right: auto;
        grid-row: 2;
    }
    .showcasebox3 {
        grid-row: 3;
        margin-left: auto;
        margin-right: auto;

    }
    .showcasebox4 {
        grid-row: 4;
        margin-left: auto;
        margin-right: auto;
    }

    .showcasetextbox p {
        display: block;
        border-top: 1px solid black;
        width: 80%;
        padding-top: 10px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-top: 50px;
    }

    .showcaseimgbox {
        width: 100%;
        max-height: 1000px;
        overflow: hidden;
        margin: 0;
    }

    .showcaseimgbox img {
        width: 100%;
        max-height: 1000px;
        border-radius: 10px;
    }
}
@media only screen and (max-height: 1000px) and (min-width: 767px) {
    .showcase {
        height: 300vh;
    }
}
@media only screen and (min-width: 1030px) {
    .showcase {
        display: grid;
        max-height: 200vh;
        margin-bottom: 100px;
        overflow: hidden;
        grid-gap: 10px;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        grid-auto-columns: 1fr;
    }

    .showcasebox1 {
        margin-left: auto;
        margin-right: auto;
        grid-column: 1;
        grid-row: 1;
    }
    .showcasebox2 {
        margin-left: auto;
        margin-right: auto;
        grid-column: 2;
        grid-row: 1;
    }
    .showcasebox3 {
        grid-row: 2;
        grid-column: 1;
        margin-left: auto;
        margin-right: auto;

    }
    .showcasebox4 {
        grid-row: 2;
        grid-column: 2;
        margin-left: auto;
        margin-right: auto;
    }

    .showcasetextbox p {
        border-top: 1px solid black;
        width: 80%;
        padding-top: 1vh;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 2vw;
    }

    .showcaseimgbox {
        display: block;
        max-width: 100%;
        max-height: 900px;
        overflow: hidden;
        margin: 0;
        border-radius: 10px;

    }

    .showcaseimgbox img {
        width: 100%;
        max-height: 900px;
    }
}

/*START aboutme area*/
@media only screen and (min-width: 0px) {
    .aboutme {
        margin: 3vw;
        margin-top: 10vh;
        height: 80vh;
        background-size: cover;
        border-radius: 10px 10px 0px 0px;
        overflow: hidden;
    }

    .aboutmeimg {
        width: 100%;
        max-height: 50vh;
        margin: 0;
    }
    
    .abttextbox {
        margin-top: -10px;
        width: 100%;
        height: auto;
        background-color: rgba(0,0,0,0.9);
        color: white;
        border-radius: 0 0 10px 10px;
    }
    
    .abttextbox p {
        font-size: 4.5vw;
        padding: 0 2vw 0 2vw;
        font-weight: 200;
        text-align: center;
        padding-bottom: 5vw;
    }
    
    .abttextbox h1 {
        text-align: center;
        margin: 0;
        padding: 20px 0px 0px 0px;
        font-size: 10vw;
    }
}
@media only screen and (min-width: 767px) {
    .aboutme {
        margin: 3vw;
        margin-top: 10vh;
        height: 100vh;
        background-size: cover;
        border-radius: 10px 10px 0px 0px;
        overflow: hidden;
    }

    .aboutmeimg {
        width: 100%;
        height: auto;
        margin: 0;
    }
    
    .abttextbox {
        margin-top: -10px;
        width: 100%;
        height: auto;
        background-color: rgba(0,0,0,0.9);
        color: white;
        border-radius: 0 0 10px 10px;
        padding-bottom: 5vw;
    }
    
    .abttextbox p {
        font-size: 3vw;
        padding: 0 2vw 0 2vw;
        font-weight: 200;
        text-align: center;
    }

    .abttextbox h1 {
        text-align: center;
        margin: 0;
        padding: 40px 0px 0px 0px;
        font-size: 6vw;
    }
}
@media only screen and (min-width: 1030px) {
    .aboutme {
        margin: 5% 0 5% 0;
        padding: 2%;
        height: 54vh;
        background-image: url("images/aboutme.jpg");
        background-position: bottom 20% left 10%;
        background-size: cover;
        border-radius: 10px;
    }

    .aboutmeimg {
        width: 0;
        height: 0;
    }
    
    .abttextbox {
        margin-left: 8%;
        padding: 0px 30px 0px 30px;
        width: 30%;
        height: auto;
        background-color: rgba(0,0,0,0.5);
        color: white;
        border-radius: 10px;
        padding-bottom: 2vw;
    }
    
    .abttextbox p {
        font-size: 1.5vw;
        font-weight: 200;
    }
    
    .abttextbox h1 {
        margin-top: 0;
        padding: 20px 0px 0px 0px;
        font-size: 48px;
    }
}
/*END aboutme area*/

#Places {
    margin-top: 10%;
}
/*START placeslist area */
@media only screen and (min-width: 0px) {
    .placeslistbox {
        display: grid;
        margin: 5% 12.5% 5% 12.5%;
        height: 45vh;
        overflow: hidden;
    }

    .placeslistbox li {
        padding: 3vw;
        font-weight: 100;
    }
    
    .itemlistbox1 {
        grid-row: 1;
        grid-column: 1;
        width: 100%;
        height: auto;
        float: center;
        padding: 0;
        margin: 0;
        list-style-type: none;
        text-align: center;
        font-size: 5vw;
    }

    .itemlistbox2 {
        grid-row: 1;
        grid-column: 1;
        height: 0;
        width: 0;
        font-size: 0;
    }

    .itemlistbox3 {
        grid-row: 1;
        grid-column: 1;
        height: 0;
        width: 0;
        font-size: 0;
    }
}
@media only screen and (min-width: 767px) {
    .placeslistbox {
        display: grid;
        margin: 5% 12.5% 5% 12.5%;
        height: 40vh;
        overflow: hidden;
    }

    .placeslistbox li {
        padding: 3vw;
        font-weight: 100;
    }
    
    .itemlistbox1 {
        grid-row: 1;
        grid-column: 1;
        width: 100%;
        height: auto;
        float: center;
        padding: 0;
        margin: 0;
        list-style-type: none;
        text-align: center;
        font-size: 2vw;
    }

    .itemlistbox2 {
        grid-row: 1;
        grid-column: 2;
        width: 100%;
        height: auto;
        float: center;
        padding: 0;
        margin: 0;
        list-style-type: none;
        text-align: center;
        font-size: 2vw;
    }

    .itemlistbox3 {
        grid-row: 1;
        grid-column: 3;
        width: 100%;
        height: auto;
        float: center;
        padding: 0;
        margin: 0;
        list-style-type: none;
        text-align: center;
        font-size: 2vw;
    }
}
@media only screen and (min-width: 1030px) {
    .placeslistbox {
        display: grid;
        margin-bottom: 10vh;
        height: 60vh;
        overflow: hidden;
    }

    .placeslistbox li {
        padding: 1.5vw;
        font-weight: 100;
        
    }

    .placeslistbox a {
        transition: color 0.3s;
    }
    
    .placeslistbox a:hover {
        color: darkblue;
    }
    
    .itemlistbox1 {
        grid-row: 1;
        grid-column: 1;
        width: 100%;
        height: auto;
        float: center;
        padding: 0;
        margin: 0;
        list-style-type: none;
        text-align: center;
        font-size: 1.5vw;
    }

    .itemlistbox2 {
        grid-row: 1;
        grid-column: 2;
        width: 100%;
        height: auto;
        float: center;
        padding: 0;
        margin: 0;
        list-style-type: none;
        text-align: center;
        font-size: 1.5vw;
    }

    .itemlistbox3 {
        grid-row: 1;
        grid-column: 3;
        width: 100%;
        height: auto;
        float: center;
        padding: 0;
        margin: 0;
        list-style-type: none;
        text-align: center;
        font-size: 1.5vw;
    }
}


/*footer */
@media only screen and (min-width: 0px) {
    footer {
        display: grid;
        margin-top: 5%;
        color: white;
        background-color: black;
        height: 500px;
        padding: 0 10% 5% 10%;
        overflow: hidden;
    }

    .footerBrand {
        grid-row: 1;
        text-align: center;
        margin: 0;
        height: 50px;
        padding: 50px 0px 20px 0px;
        color: white;
        font-size: 5vw;
    }
    
    .footerbox1 {
        display: block;
        grid-row: 2;
        color: white;
        padding: 0vw;
        text-align: center;
        width: 100%;
        height: auto;
        list-style-type: none;
    }

    .footerbox1 li {
        display: inline;
        padding-top: 3vw;
    }

    .footerbox1 h5 {
        display: inline;
        color: white;
        width: auto;
        font-size: 0;
        transition: color 0.3s;
    }

    .footerbox1 h5:hover {
        color: darkblue;
    }

    .footerbox1 a {
        padding: 10px;
        color: white;
    }

    .footerbox2 {
        grid-row: 3;
        font-size: 3vw;
        text-align: center;
    }
}
@media only screen and (min-width: 767px) {
    footer {
        height: 320px;
    }

    .footerBrand {
        grid-row: 1;
        font-size: 24px;
        padding: 0;
    }

    .footerbox1 {
        grid-row: 2;
        margin-top: 40px;
    }

    .footerbox1 a {
        color: black;
    }
    .footerbox1 h5 {
        font-size: 18px;
        padding: 0;

    }

    .footerbox1 li {
        padding-top: 1vw;
    }

    .footerbox2 {
        font-size: 20px;
        
    }
}

/*icons*/
